@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMono-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Orange Typewriter";
    src: url("assets/Orange Typewriter.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-Italic.ttf");
    font-style: italic;
}
