body {
    --background-color: #222831;
    --secondary-color: #393E46;
    background-color: var(--background-color);
    color: white;
    font-family: "Varela Round", serif;
    font-size: 18px;
    text-align: center;
    --mdc-theme-primary: var(--secondary-color);
    --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

header {
    font-family: "Dela Gothic One", serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration: none;
    color: lightgray;
    transition: .2s;
}

a:hover {
    text-decoration: underline;
}

select {
    background-color: var(--secondary-color);
    border: 0;
    color: white;
    font-size: 90%;
    border-radius: 5px;
}

#wzium {
    background: red;
    background: -webkit-linear-gradient(left, red, orange, yellow, lightgreen, cyan, lightblue);
    background: -o-linear-gradient(right, red, orange, yellow, lightgreen, cyan, lightblue);
    background: -moz-linear-gradient(right, red, orange, yellow, lightgreen, cyan, lightblue);
    background: linear-gradient(to right, red, orange, yellow, lightgreen, cyan, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dio {
    font-weight: bold;
    color: white;
}

.album-art {
    width: 125px;
    min-width: auto;
    min-height: auto;
    max-height: 125px;
    margin-right: 20px;
    border-radius: 10px;
    transition: .5s;
}

@media screen and (min-width: 350px) {
    .song-info {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .song-info {
        width: 300px;
    }
}

.song-info-background {
    font-size: 20px;
    display: inline-flex;
    text-align: left;
    word-wrap: break-word;
    /* background-color: var(--secondary-color); */
    /* padding: 15px;
    /*border: var(--secondary-color) solid;*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.song-info {
    display: inherit;
    backdrop-filter: blur(10px) brightness(40%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
}

.title, .author {
    font-weight: bold;
}

.author, .album {
    font-style: italic;
    color: #9b9b9b;
}

footer {
    color: #5d5d5d;
}