@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMono-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Orange Typewriter";
    src: url("assets/Orange Typewriter.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Sans";
    src: url("assets/LiberationSans-Italic.ttf");
    font-style: italic;
}

body {
    background-color: #111111;
    color: white;
    font-family: "JetBrains Mono", serif;
    font-size: 18px;
    text-align: center;
}

hr {
    border-color: #484848;
    width: 350px;
}

.header {
    text-align: center;
    font-family: "Orange Typewriter", serif;
    font-weight: bold;
    font-size: 60px;
}

.info {
    font-style: italic;
    color: #9b9b9b;
}

#wzium {
    background: red;
    background: -webkit-linear-gradient(left, red, orange, yellow, lightgreen, cyan, lightblue);
    background: -o-linear-gradient(right, red, orange, yellow, lightgreen, cyan, lightblue);
    background: -moz-linear-gradient(right, red, orange, yellow, lightgreen, cyan, lightblue);
    background: linear-gradient(to right, red, orange, yellow, lightgreen, cyan, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dio {
    font-weight: bold;
    color: white;
}

#vinyl {
    position: relative;
    bottom: -5px;
    margin-left: -5px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #111111;
    border: 2px solid #646464;
    cursor: pointer;
    width: 150px;
    height: 50px;
    color: white;
    font-family: "JetBrains Mono", serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px -3px #646464, 2px -2px #646464, 1px -1px #646464;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

.albumart {
    width: 125px;
    min-width: auto;
    min-height: auto;
    object-fit: scale-down;
    margin-right: 10px;
}

.songinfo {
    font-size: 20px;
    font-family: "Liberation Sans", serif;
    display: inline-flex;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
    font-weight: bold;
    color: #9b9b9b;
}

.album {
    font-style: italic;
    color: #9b9b9b;
}

.footer {
    color: #5d5d5d;
}

.now_playing {
    color: lime;
    font-weight: bold;
    font-family: "Liberation Sans", serif;
    font-size: 25px;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.question-container {
    margin: 0 auto;
    max-width: 600px;
    word-wrap: break-word;
}

.question {
    font-family: "JetBrains Mono", serif;
    font-weight: bold;
    font-size: 25px;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

#footerlink {
    color: lightgray;
}
